@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
   box-sizing: border-box;
 }
 img{
  display: inline;
  max-width: 100%;
}
 body{
   margin: 0;
   font-family: 'Open Sans', sans-serif;
 }
 h1,h2,h3,h4,h5,h6{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 1.5;
 }
 .contenedor{
   margin: auto;
   width: 99%;
 }
  /*estilo del header*/
  .header
  {
    height: 60px;
  }
.header .contenedor
{
  display: flex;
  justify-content: space-between;
}
.logo, .icon-menu
{
  margin: 10px;
  color:rgb(205, 247, 22);
}
.icon-menu{
  display: block;
  width: 40px;
  height: 40;
  font-size: 30px;
  background: cadetblue;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  margin-left: auto;
  cursor: pointer;
}
/*---------Estilo de menu-------------*/
.nav {
  position: absolute;
  top: 60px;
  left: -100%;
  width:100;
  transition: all 0.4;
}
.menu{
  list-style: none;
  padding: 5px;
  margin: 5px;
}
.menu__link{
  display: block;
  padding: 15px;
  background: cadetblue;
  text-decoration: none;
  color: white;
}
.menu__link:hover, .select{
  background: white;
  color: cadetblue;
}
.mostrar{
  left: 0;
}
/*--------Estilo de Banner------*/
.banner{
  margin-top: -60px;
  position: relative;
  z-index: -1000;
  margin-bottom: 20px;
}
.banner .contenedor .banner__txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)translateY(-50%);
  width: 100%;
  color: white;
  text-align: center;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
/*---------Estilos de Inf-------------*/
.inf__columna{
  background:goldenrod;
  color: white;
  padding: 15px;
  margin-bottom: 30px;
}
.inf__titulo:hover, .select{
  background: white;
  color: cadetblue;
}
/*---------Estilos de footer-------------*/
.footer{
  background:cadetblue;
  color: white;
  padding: 10px;
  text-align: center;
}
.footer .social .cont[class^="icon-"]{
  display: inline-block;
  color: cadetblue;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  background: white;
  border-radius: 60%;
  width: 80px;
  height: 60px;
  line-height: 40px;
}
/*---------Estilos de responsive-------------*/
@media (min-width:480px){
  .logo{
    font: size 40px;
  }
.banner__titulo{
  font-size: 30px;
  margin: 5px;
  }
 .banner__txt{
  display: block;
  font-size: 18px;
  margin: 3px ;
  }
  .info{
   display: flex;
   justify-content: space-between;
  }
   .inf__columna{
    width: 49.9%;
   }
  .inf__tutulo{
   font-size: 30px;
   margin: 5px 0;
  }
  .footer .social[class^="icon-"]{
    margin: 0 10px;
   }
}
@media (min-width:768px){
  .banner__titulo{
    font-size: 50px;
  }

}
@media (min-width:1024px){
.contenedor{
  width: 1500px;
}
  .nav{
    position: static;
    width: auto;
  }
  .menu{
    display: flex;
  }
  .icon-menu{
    display: none;
  }
  .menu__link{
    background: none;
    font-size: 20px;
  }
  .select{
    color: white;
    background: aliceblue;
  }
  .banner__titulo{
    font-size: 60px;
  }
  .banner__txt{
    font-size: 30px;
  }
  .info{
    margin-top: -120;
  }
  .inf__columna{
    padding: 20px;
  }
  .inf__titulo{
    font-size: 40px;
    text-align: center;
  }
  
}
@media (min-width:1280px){
  .contenedor{
    width: 1200px;
  }
  .banner .contenedor{
    top: 40%;
  }
  .info{
    margin-top: -150px;
  }
}
/*      registro Html */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: grey;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background:burlywood;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;}

  body {
    background: #969692; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #969692,#cfcfc8);
    background: -moz-linear-gradient(right, #969692, #cfcfc8);
    background: -o-linear-gradient(right, #969692, #cfcfc8);
    background: linear-gradient(to left, #969692,#cfcfc8);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }